---
import BaseLayout from "@/components/layouts/base-layout.astro";
import NotFound from "@/components/misc/not-found.astro";
---

<BaseLayout title="404" description="Page not found">
  <main ui-page="404">
    <NotFound />
  </main>
</BaseLayout>
