---
import { COLOR_TYPES } from "@/utils/constants";
import BaseLayout from "@/components/layouts/base-layout.astro";
import CodeSource from "@/components/misc/code-source.astro";

const name = Astro.url.searchParams.get("name");
---

<BaseLayout
  title="Export"
  description="Grab your color system in CSS, SCSS, Tailwind, or JSON.">
  <main ui-page="export">
    <div class="head">
      <a
        href="/"
        ui-slot="button"
        data-variant="neutral"
        data-mode="lighter"
        data-size="md">
        <i class="hgi hgi-stroke hgi-arrow-left-02"></i>
        <span>Back to home</span>
      </a>
      <h3 class="title">
        Export {
          name && (
            <div
              ui-slot="status-badge"
              data-variant="light"
              data-status="disabled">
              {name}
            </div>
          )
        }
      </h3>
      <div class="color-format">
        <div ui-slot="segmented-control" role="tablist">
          {
            COLOR_TYPES.map((type) => (
              <label ui-slot="segmented-control-trigger" role="tab">
                {type.label}
                <input type="radio" name="color-format" value={type.value} />
              </label>
            ))
          }
        </div>
      </div>
    </div>
    <div class="core">
      <CodeSource />
    </div>
  </main>
</BaseLayout>

<style>
  [ui-page="export"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);

    & > .head {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);

      .title {
        font: var(--font-headline-lg);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-8);
      }

      .color-format {
        display: flex;
        justify-content: flex-end;

        [ui-slot="segmented-control"] {
          width: fit-content;
        }
      }
    }

    @media (max-width: 769px) {
      & > .head {
        gap: var(--spacing-24);

        .color-format {
          grid-column: 1 / 4;

          [ui-slot="segmented-control"] {
            width: 100%;
          }
        }

        [ui-slot="button"] {
          width: var(--button-size);

          & > span {
            display: none;
          }
        }
      }
    }
  }
</style>
